{% extends "layout.html" %}
{% block content %}
  <div class="row">
    <div class="col">
      <h3>Upcoming events</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row row-cols-1 g-4">
        {% for event in events %}
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{event.title}}</h5>
                <h6 class="card-subtitle text-body-secondary pb-1">{{ event.description }}</h6>
                <h6 class="card-subtitle text-body-secondary pb-1">{{ event.venue }}</h6>
                <h6 class="card-subtitle text-body-secondary pt-1">{{ event.event_start }} - {{ event.event_end }}</h6>

                {% if event.user_has_applied %}
                  <i>{{ event.user_application_status|yesno:"You're going!,Application pending" }}</i>
                {% endif %}

                <a href="/event/{{event.id}}" class="stretched-link float-end">see more →</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div><a href="/user/updatedetails">Update Details</a></div>
{% endblock content %}
