{% extends "layout.html" %}
{% block content %}
    <div class="container text-center">
        <div class="col">
            <h1 class="h2">Create a club</h1>
            <form action="/coordinator/clubcreationattempt" method="post">
                {% csrf_token %}
                <div class="row">
                
                <label for="club_name">Name: </label>
                <input type="text" name="club-name" class="form-control" placeholder="Name" required>
                <label for="club-description">Description: </label>
                <textarea class="form-control" name="club-description" id="club-description"></textarea>
                </div>
                <button type="submit" class="btn mt-2 btn-primary">Create</button>
            </form>
          </div>
        </div>
    </div>
{% endblock %}